[submodule "source_lang_processing/testright"]
	path = source_lang_processing/testright
	url = git@github.com:cassanof/testright
[submodule "source_lang_processing/code_exec_server"]
	path = source_lang_processing/code_exec_server
	url = git@github.com:cassanof/code_exec_server
[submodule "source_lang_processing/tree-sitter-python"]
	path = source_lang_processing/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "target_lang_postprocessing/code_scorer"]
	path = target_lang_postprocessing/code_scorer
	url = https://github.com/cassanof/code-scorer
